# {{ ansible_managed }}

[DEFAULT]
name = monasca_api

[pipeline:main]
pipeline = request_id auth api

[app:api]
paste.app_factory = monasca_api.api.server:launch

[filter:auth]
paste.filter_factory = keystonemiddleware.auth_token:filter_factory

[filter:request_id]
paste.filter_factory = oslo_middleware.request_id:RequestId.factory

[server:main]
use = egg:gunicorn#main
host = {{ monasca_api_bind_host | default('127.0.0.1') }}
port = {{ monasca_api_client_port | int }}
workers = {{ monasca_api_workers | int }}
worker_connections = {{ monasca_api_worker_connections | int }}
backlog = {{ monasca_api_backlog | int }}
proc_name = {{ monasca_api_service_name }}
