# {{ ansible_managed }}

Listen {{ monasca_api_client_port|int }}

<VirtualHost {{ monasca_api_bind_host|default('127.0.0.1') }}:{{ monasca_api_client_port|int }}>
    WSGIDaemonProcess monasca-api processes={{ monasca_api_workers|int }} threads=1 user={{ monasca_api_user }} group={{ monasca_api_group }} socket-timeout=120 display-name=%{GROUP} {{ (monasca_api_install_mode == 'pip') | ternary(monasca_api_virtualenv_dir,'') }}
    WSGIProcessGroup monasca-api
    WSGIApplicationGroup %{GLOBAL}
    WSGIScriptAlias / {{ monasca_api_wsgi_script }}

    WSGIPassAuthorization On

    LogLevel info
    ErrorLogFormat "%{cu}t %M"
    ErrorLog {{ monasca_api_wsgi_log_dir }}/monasca-api.log
    CustomLog {{ monasca_api_wsgi_log_dir }}/monasca-api_access.log combined

    <Directory {{ monasca_api_wsgi_script_dir }}>
        Require all granted
    </Directory>

    {% if monasca_api_install_mode == 'pip' %}
    <Directory {{ monasca_api_virtualenv_dir }}>
        Require all granted
    </Directory>
    {% endif %}

    # extra settings
    AddDefaultCharset utf-8

</VirtualHost>

